@media only screen and (max-width: 1024px) {
    .Titulo-Principal, .sobre-nos, .parceiros {
        margin-left: 50px;
        margin-right: 50px;
    }

    .sobre {
        flex-direction: column;
      }

    .sobre-nos h1, .parceiros h1 {
        font-size: 35px;
    }

    .sobre-nos p {
        font-size: 28px;
    }

    .sobre img {
        width: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .Titulo-Principal, .sobre-nos, .parceiros {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sobre-nos h1, .parceiros h1 {
        font-size: 30px;
    }

    .sobre-nos p {
        font-size: 24px;
    }

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    .sobre img {
        width: 350px;
    }
}

@media only screen and (max-width: 480px) {
    .Titulo-Principal {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }

    .sobre {
        flex-direction: column;
      }

    .sobre-nos, .parceiros {
        margin-left: 10px;
        margin-right: 10px;
    }

    .sobre-nos h1, .parceiros h1 {
        font-size: 24px;
    }

    .sobre-nos p {
        font-size: 20px;
    }

    .sobre img {
        width: 100%;
    }

    .insta img {
        width: 80px;
    }

    .parceiros img, .parceiros a {
        height: 200px;
    }

    .rodape p {
        font-size: 20px;
    }

    .rodape a {
        font-size: 18px;
    }
}
